@font-face {
    font-family: odin;
    src: url(Norse-Bold.otf);
}
*{
    padding: 0;
    margin: 0;
}
.fcontainer{
    height: 100vh;
    display: flex;
}
.left{
    background: url(assets/sample.jpg);
    position: relative;
    width: 45%;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bolder;
    font-size: 3em;

}
.image{
    max-width: 150px;
    max-height: 150px;
    z-index: 0;
    position: absolute;
}
.right{
  background-color: #EAEDF0;
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.3;
}

.logo{
    max-height: 150px;
    width: auto;
    
}
.shadow{
    height: 150px;
    width: 526px;
    position: absolute;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.7);
    top: 250px;
    color: white;
    font-size: 130px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.left > h1 {
    font-family: odin;
}
.right > p{
    font-weight: bold;
    font-size: large;
    width: 70%;
    margin-top: 150px;
    margin-left: 50px;
}

.f_container{
    margin-top: 75px;
    background-color: #F9F9F9;
    padding: 10px;
    box-shadow: 0px 2px 3px #A1A1A1;
    padding-bottom: 20px;
}

.form{
    width: 70%;
    margin-left: 50px;
}

ul{
    list-style: none;
}
.row{
    display: flex;

}

.row2{
    display: flex;
    flex-direction: column;
    margin: 5px;
}

label {
    /* Uniform size & alignment */
    display: inline-block;
    width: 200px;
    color: #A1A1A1;
  }

.form > p{
    font-weight: bold;
    font-size: large;
    margin-bottom: 20px;
    margin-top: 10px;
}
input[type='text'],
input[type='email'],
input[type='tel'],
input[type='password'] {
    width: 70%;
    height: 20px;
}

button{
    margin-top: 20px;
    margin-left: 50px;
    padding: 8px 35px;
    border-radius: 10px;
    background-color: #6C945F;
    color: #F9F9F9;
    cursor: pointer;
}

button:hover{
    background-color: #5E8153;
}

.login{
    color:#2E8412;
    cursor: pointer;
}

.login:hover{
    color: #27710F;
}

.ending{
    font-size: small;
    margin-left: 50px;

    margin-top: 20px;
}

@media(max-width:760px){
.fcontainer{
    flex-direction: column;
}
.row{
    flex-direction: column;
}

.left{
    width: 100%;
}
}